<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>Music Releases</title>
    <link th:href="@{/images/favicon1.png}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link th:href="@{/styles/css/style.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<!--THIS IS THE MAIN PAGE-->

<!-- NAVIGATION BAR -->
<div class="topnav">


<!--     REFRESH BUTTON -->
    <a id="refr" sec:authorize="hasRole('ROLE_ADMIN')" class="active r" th:href="@{/ajaxxx}">refresh</a>

<!--    FILTERING FORM-->
    <form th:action="@{/filter}" method="post" class="filter">
        <input id="filtAll" th:value="${filter}" placeholder="filter genre" name="filter"/>
<!--        NO NEED FOR BUTTON AFTER ADDING AJAX-->
<!--        <button  type="submit">find</button>-->
    </form>

<!--    REGISTRATION BUTTON-->
    <a sec:authorize="isAnonymous()" class="active login" th:href="@{/registration}">sign in</a>

<!--    LOGIN FORM-->
    <form sec:authorize="isAnonymous()" th:action="@{/authenticateTheUser}" method="post" class="login">
        <input placeholder="username" name="username"/>
        <input placeholder="password" name="password"/>
        <button type="submit">log in</button>
    </form>

<!--    LOGOUT BUTTON -->
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class="login">
        <button type="submit">log out</button>
    </form>

<!--    SHOW USERNAME FOR AUTHENTICATED USERS-->
    <p sec:authorize="isAuthenticated()" class="active" >
        <span>you are logged in as:</span>
        <span  sec:authentication="name"></span>
    </p>

<!--    USER'S LIST OF ALBUMS-->
    <a sec:authorize="isAuthenticated()" class="login btn" th:href="@{/profile/} + ${#authentication.name}">
        show my favorites
    </a>

<!--    CLEAR TABLE-->
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/clear}" class="login btn">clear table</a>
</div>



<!--LIST OF ALBUMS SHOWN BY THYMELEAF-->
<div id="result" th:fragment="resultsList">
    <div class="panel">
        <div  class="card" th:each="album : ${albums}">
            <img th:src="${album.img}" alt="albumsImage" style="width:240px; height:240px;">
            <div class="container">
                <h4 th:text="${album.artist}"><b></b></h4>
                <p th:text="${album.albumName}"></p>
                <p th:text="${album.genre}"></p>
                <a th:href="@{https://open.spotify.com/search/} + ${album.artist} +' '+ ${album.albumName}" target="_blank">
                    <p>
                        <img th:src="@{/images/spot.png}" alt="spot logo"/>
                        Найти в Spotify
                    </p>
                </a>
                <a th:href="@{https://music.apple.com/us/search?term=}  + ${album.artist} +' '+ ${album.albumName}" target="_blank">
                    <p>
                        <img th:src="@{/images/apple.png}" alt="apple music logo"/>
                        Найти в Apple Music
                    </p>
                </a>
                <a sec:authorize="isAuthenticated()" th:href="'/'+${#authentication.name}+'/add/' + ${album.id}" >
                    Добавить в избранное
                </a>
            </div>
        </div>
    </div>
</div>

<!--JAVASCRIPT FOR MAIN PAGE-->
<script type="text/javascript" th:src="@{/script/main_page.js}"></script>

</body>
</html>